<html>
   
<p>
    <a href="/">Start</a> 
  <a href="/upload">Upload File</a>
  </p><h1 class="center" id="song_title"></h1>
  <h2 class="center" id="subtitle"></h2> 
  <p name ="songtext" id = "songtext"></p>
  <p name ="song" id = "song"><%= songtext %>
  </p>
  
  <script type="text/javascript" src="static/cho2html.js">  </script>
  </html>
