<html>
<body>
  <p>
<a href="/">Start</a>
  </p>

<form method="POST" enctype="multipart/form-data">
<input type="file" id="file" name="file"/>
<button id="read-button">Read File</button>
</form>
</body>
</html>
